# Django stuff:
__pycache__/
*.py[cod]
*$py.class
.idea/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Camino configuraitons from Core-Portal-Deployments
.env
conf/camino/*
!conf/camino/*sample.*

# Secrets and Configurations
*settings_secret.py
*settings_custom.py
*settings_local.py
*secrets.py
rabbitmq.env
