client_max_body_size 2G;

# Extra slashes matter to Tapis
merge_slashes off;

upstream portal_cms {
    server portal_cms:8000;
    keepalive 2;
}

upstream portal_core {
    server portal_django:6000;
    keepalive 2;
}

upstream portal_ws {
    server portal_websockets:9000;
    keepalive 2;
}

## Include any custom http directives
include /etc/nginx/conf.d/*.http.conf;

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name ${NGINX_SERVER_NAME};
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name ${NGINX_SERVER_NAME};

    if ($host != $server_name) {
        rewrite ^(.*)$ https://$server_name$1;
    }

    ssl_certificate     /etc/ssl/certs/portal.cer;
    ssl_certificate_key /etc/ssl/private/portal.key;

    set $cspNonce $ssl_session_id;

    sub_filter_once off;
    sub_filter_types *;
    sub_filter CSP_NONCE $cspNonce;

    add_header Permissions-Policy "autoplay=(), camera=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=()" always;
    add_header Referrer-Policy 'strict-origin' always;
    add_header Strict-Transport-Security "max-age=2592000; includeSubDomains" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Content-Security-Policy "form-action 'none'; connect-src 'self' ws: wss: https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com https://*.tacc.utexas.edu https://*.github.com 'nonce-$cspNonce'" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header Cache-control "no-store";
    add_header Pragma "no-cache";
    add_header X-Frame-Options "SAMEORIGIN";

    if ($http_user_agent ~* "claudebot|anthropic") {
        return 403;
    }

    location /robots.txt {
        alias /var/www/robots.txt;
    }

    location /media  {
        alias /var/www/portal/cms/media;
    }

    location /static {
        alias /var/www/portal/cms/static;
    }

    location / {
        uwsgi_read_timeout 60s;
        uwsgi_send_timeout 600s;
        uwsgi_pass  portal_cms;
        include     /etc/nginx/uwsgi_params;
    }

    location /core/media  {
        alias /var/www/portal/portal/media;
    }

    location /core/static {
        alias /var/www/portal/portal/static;
    }

    location /core {
        uwsgi_read_timeout 60s;
        uwsgi_send_timeout 600s;
        uwsgi_pass  portal_core;
        include     /etc/nginx/uwsgi_params;
    }

    location ~ ^/(auth|workbench|tickets|accounts|api|login|webhooks|googledrive-privacy-policy|public-data|search) {
        uwsgi_read_timeout 60s;
        uwsgi_send_timeout 600s;
        uwsgi_pass  portal_core;
        include     /etc/nginx/uwsgi_params;
    }

    location /ws/ {
        proxy_pass http://portal_ws;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;

        proxy_read_timeout 600;
    }

    location /build {
        alias /var/www/portal/portal/static;
    }

    location /static/img/favicon.ico {
        alias /var/www/portal/portal/static/favicon.ico;
    }

    location /favicon.ico {
        alias /var/www/portal/portal/static/favicon.ico;
    }

    ## Include any custom location directives
    include /etc/nginx/conf.d/*.location.conf;
}

## Include any custom server directives
include /etc/nginx/conf.d/*.server.conf;
